
  @font-face {
  font-family: agave;
      src: url('./Fonts/Agave-Regular.ttf');
  }
  .agave{
	  font-family: agave;
  }
.infotext {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.profilePic{
  margin: 0;
  position: absolute;
  top: 45%;
  left: 35%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
 .text{
    font-family: agave;
    color: white;
 }
 .largeFont{
	 font-size: 20px;
	 margin: 150px;
 }
